* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  border-radius: 24px;
  padding: 16px;
  width: 18rem;
  height: 500px;
  /* height: 100vh; */
}

.card .description {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.card h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  /* background: linear-gradient(to right, #1aa37a, #9dffb3); */
  color: white;
  /* color: transparent; */
  background-clip: text;
}

.card .typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}

.card .text-writer {
  color: #1d4ed8;
  font-size: 16px;
  font-weight: bold;
}

.card .typewriter span {
  margin-right: 10px;
}

.mt-16 {
  margin-top: 16px;
}

.card .btn-action {
  padding: 5px 12px;
  /* background-color: blue; */
  text-decoration: none;
  color: white;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  /* border: 1px solid blue; */
  border: 1px solid #1d4ed8;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.15);
  transition: all 2s ease-in;
}

.card .img-thumbnails {
  display: block;
  justify-content: center;
  margin: 0 auto;
  max-width: 80px;
  border: 3px solid #1d4ed8;
  border-radius: 50%;
}

.card .btn-action:hover {
  background-color: #1d4ed8;
  /* background: linear-gradient(to right, #009ffd, #2a2a72); */
  color: white;
  transform: scale(1.1);
}

.card a {
  margin-top: 20px;
}

.card .btn-action span {
  margin-left: 10px;
}

.card .stack {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  font-size: 16px;
}

/* Link Bio */

.link-bio img {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
